/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500;700;900&display=swap');s */

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* -webkit-transition: all 0.2s ease; */
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

:root {
    font-family: 'Roboto', sans-serif;
}